@model Draftorama.Models.Draft
@{
    ViewData["Title"] = "Draft";
}

<!-- Nav tabs -->
<ul class="nav navbar nav-tabs navbar-default navbar-fixed-top" role="tablist">
    <li role="presentation" class="active"><a href="#pack" aria-controls="pack" role="tab" data-toggle="tab">Pack</a></li>
    <li role="presentation"><a href="#pool" aria-controls="pool" role="tab" data-toggle="tab">Card Pool</a></li>
    <li role="presentation"><a href="#deck" aria-controls="deck" role="tab" data-toggle="tab">Deck</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="pack">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var crd in Model.Table.First().PackInHand.CardsInPack)
                    {
                        <div class="col-md-2" style="margin:0; padding:3px;">
                            <a href='@Url.Action(
                                    action: "MakePick",
                                    controller: "Draft",
                                    values: new
                                    {
                                        cardPickedNameIn = crd.CardName
                                    })'>
                                <img src=/@crd.ImageFile.ToString() class="img-rounded card" style="border-radius:15px; max-width:265px; max-height:370px; width:100%; height:100%">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="pool">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var crd in Model.Table.First().CardPool.PicksNotInDeck)
                    {
                        <div class="col-md-2" style="margin:0; padding:3px;">
                            <a href='@Url.Action(
                                    action: "MovePickToDeck",
                                    controller: "Draft",
                                    values: new
                                    {
                                        cardPickedNameIn = crd.CardName
                                    })'>
                                <img src=/@crd.ImageFile.ToString() class="img-rounded card" style="border-radius:15px; max-width:265px; max-height:370px; width:100%; height:100%">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="deck">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var crd in Model.Table.First().CardPool.PicksInDeck)
                    {
                        <div class="col-md-2" style="margin:0; padding:3px;">
                            <a href='@Url.Action(
                                    action: "RemovePickFromDeck",
                                    controller: "Draft",
                                    values: new
                                    {
                                        cardPickedNameIn = crd.CardName
                                    })'>
                                <img src=/@crd.ImageFile.ToString() class="img-rounded card" style="border-radius:15px; max-width:265px; max-height:370px; width:100%; height:100%">
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>