@{
    ViewData["Title"] = "Draft";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 id="text-draftbot-intro-1" class="text-center text-info">
                Welcome, I am Draftbot 9000, again.
            </h1>
        </div>
    </div>
</div>