@{
    ViewData["Title"] = "Intro";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 id="text-draftbot-intro-1" class="text-center text-info">
                Hello, I am Draftbot 9000.
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 id="text-draftbot-intro-2" class="text-center text-info">
                Where shall we begin?
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="buttons-draftbot-intro-group" class="btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div id="buttons-draftbot-intro-1" class="btn-group" role="group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Draft Against Me <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="'@Url.Action(
                                    action: "Draft",
                                    controller: "Draft",
                                    values: new
                                    {
                                        setName = "MM3"
                                    })'">Modern Masters</a>
                        </li>
                        <li><a href="#">Aether Revolt</a></li>
                        <li><a href="#">Kaladesh</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Amonkhet</a></li>
                    </ul>
                    <div class="collapse" id="collapseExample">
                        <div class="well">
                            ...
                        </div>
                    </div>
                </div>
                <div id="buttons-draftbot-intro-2" class="btn-group" role="group">
                    <button type="button" class="btn btn-info" disabled="disabled">Draft Against Opponents</button>
                </div>
                <div id="buttons-draftbot-intro-3" class="btn-group" role="group">
                    <button type="button" class="btn btn-info" disabled="disabled">Learn from Me</button>
                </div>
            </div>
        </div>
    </div>
</div>