@{
    ViewData["Title"] = "Intro";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="text-center text-info">
                Hello, I am Draftbot 9000.
            </h1>
        </div>
    </div>
</div>